/* Default configs start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --brand-dark: #1F2A33;
    --brand-gray-dark: #2B2B2B;
    --brand-gray: rgba(255, 255, 255, 0.08);
    --brand-gray-light: #E5E5E5;

    --brand-green: #69C276;
    --brand-green-light: #A6E3A1;

    --text-light: #E5E5E5;
    --text-dark: #1F2A33;

    --glass: rgba(255, 255, 255, 0.06);
    --glass-border: rgba(255, 255, 255, 0.2);
    
    --transition-speed: 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--brand-dark);
    color: var(--brand-gray-light);
}

/* text Pattern */
h1, h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
}

h1{
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--text-light);
}

h2{
    font-size: 2.5rem;
    color: var(--brand-green-light);
}

h3{
    font-size: 2rem;
    color: var(--brand-green-light);
}

p{
    color: var(--brand-gray-light);
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

/* Utilitarios */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.glass-box{
    background: var(--brand-gray);
    border: 1px solid var(--glass-border);
    border-radius: 16px;
    backdrop-filter: blur(16px);
}

.box {
    padding: 2rem;
    max-width: 600px;
    margin-top: 2rem;
    /*remover futuramente  */
    background: var(--brand-gray);
    border: 1px solid var(--glass-border);
    border-radius: 16px;
    backdrop-filter: blur(16px);
    /* repetido em glass box */
}


.card {
    /* elementos da box estão aqui dentro preciso remover depois para otimizar o codigo */
    background: var(--brand-gray);
    border: 1px solid var(--glass-border);
    border-radius: 16px;
    padding: 1.5rem;
    min-width: 200px;
    max-width: 300px;
    transition: transform var(--transition-speed) ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* Btn Pattern */
.btn {
    border: none;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    color: var(--text-dark);
    background: var(--brand-green);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn:hover {
    opacity: 0.85;
    transform: scale(1.1);
}

.btn-alt {
    background: var(--brand-green-light);
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--brand-green);
    color: var(--brand-green);
}

.btn-outline:hover {
    background: var(--brand-green);
    color: var(var(--text-dark));
}

/* display flex e orientações */
.flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.flex-wrap{flex-wrap: wrap;}
.flex-row {flex-direction: row;}    
.flex-col-rev {flex-direction: column-reverse;}    
.flex-between {justify-content: space-between;}    
.flex-evenly{justify-content: space-evenly;}
.flex-center {
    justify-content: center;
    align-items: center;
}    

/* Barras de Habilidate */

.skill-bar {
    background-color: var(--brand-gray-dark);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.bar-vertical{
    width: 20px;
    height: 100px;
}

/* O preenchimento colorido genérico */
.bar-fill-vert {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0; 
    background: linear-gradient(to top, #fe4701, #ff0054);
    border-radius: 0 0 10px 10px;
    
    /* A mágica acontece aqui: animamos até a altura definida na variável --h */
    animation: fillBars 1.5s ease-in-out forwards;
}


@keyframes fillBars {
    from { height: 0; }
    to { height: var(--h); }
}

/* Default configs end*/

/* page start */
/* colocar como um bat sinal, alterar a cor para verde com o simbolo de $ em dourado */
/* mover uma para topo na direita, e a outra no bottom a esquerda */
/* a da parte inferior alterar para uma seta zig-zag crescente até o bat sinal */
.particulas {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    opacity: 0.5;
    background:
        radial-gradient(circle at 90% 80%, var(--brand-gray-light) 0%, transparent 20%),
        radial-gradient(circle at 10% 20%, var(--brand-green) 0%, transparent 20%),
        var(--brand-dark);
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    padding: 0.5rem 0;
    background-color: var(--brand-gray-dark);
    z-index: 100;
}

header .container {
    width: 100%;
}

.nav-bar {
    width: 100%;
    padding: 1rem 0;
    top: 0;
    z-index: 100;
}

/* adicionar js para usabiliadade e organizar a tela */
.menu {
    list-style: none;
    width: 100%;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    color: var(--brand-gray-light);
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--brand-green), var(--brand-green-light));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

/* corrijir importe de fontawesome*/
#btn-theme {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 32px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--brand-green);
    cursor: pointer;
    color: var(--text-dark);
    font-size: 1rem;
}

.intro {
    padding: 4rem 0 2rem 0;
    min-height: 100vh;
}

.perfil {
    text-align: center;
    text-decoration: solid;
}

.foto-perfil {
    width: 350px;
    height: 350px;
    border-radius: 20%;
    border: 4px solid var(--brand-green);
    filter: grayscale(0.2) contrast(1.1);
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

.intro-box {
    padding: 2rem;
    max-width: 600px;
    margin-top: 2rem;
    border-radius: 16px;
    background: var(--brand-gray);
    border: 1px solid var(--glass-border);
    backdrop-filter: blur(16px);
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.techs {
    justify-content: left;
}

/* .languages {
    padding-top: 6rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle at 75% 30%), var(--brand-green), 0%, transparent 30%;
} */

#level-box .level-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.level-paragraph {
    font-size: 1.5rem;
    color: var(--brand-gray-light);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#levels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    gap: 40px;
}

#levels li {
    color: var(--brand-gray-light);
    margin: 0;
    padding: 0;
}

.languages-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    padding: 20px;
    align-items: flex-start;
    width: 100%;
}

.language-alemao {
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    background-color: var(--brand-gray);
    box-shadow: 0 15px 20px #00000027;

}

#alemao-title {
    font-style: italic;
}

.language-alemao ul {
    list-style: none;
}

.language-alemao ul li {
    margin: 20px 0;
}

.language-alemao .bars {
    background-color: var(--brand-gray-dark);
    display: block;
    position: relative;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.bars>span {
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
}

.language-alemao h3 {
    color: var(--brand-gray-light);
}

.alemao-fala {
    width: 10%;
    animation: alemao-fala 3s;
}

.alemao-escuta {
    width: 10%;
    animation: alemao-escuta 3s;
}

.alemao-escrita {
    width: 15%;
    animation: alemao-escrita 3s;
}

.alemao-leitura {
    width: 20%;
    animation: alemao-leitura 3s;
}

/* pseudo js */
/* inicio do alemao */

@keyframes alemao-fala {
    0% {
        width: 0%;
    }

    100% {
        width: 10%;
    }
}

@keyframes alemao-escuta {
    0% {
        width: 0%;
    }

    100% {
        width: 10%;
    }
}

@keyframes alemao-escrita {
    0% {
        width: 0%;
    }

    100% {
        width: 15%;
    }
}

@keyframes alemao-leitura {
    0% {
        width: 0%;
    }

    100% {
        width: 20%;
    }
}

/* fim do alemão */
/* inicio do english */
.language-english {
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    background-color: var(--brand-gray);
    box-shadow: 0 15px 20px #00000027;

}

#english-title {
    font-style: italic;
}

.language-english ul {
    list-style: none;
}

.language-english ul li {
    margin: 20px 0;
}

.language-english .bars {
    background-color: var(--brand-gray-dark);
    display: block;
    position: relative;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.bars>span {
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
}

.language-english h3 {
    color: var(--brand-gray-light);
}

.english-fala {
    width: 55%;
    animation: english-fala 3s;
}

.english-escuta {
    width: 80%;
    animation: english-escuta 3s;
}

.english-escrita {
    width: 70%;
    animation: english-escrita 3s;
}

.english-leitura {
    width: 100%;
    animation: english-leitura 3s;
}

/* pseudo js */

@keyframes english-fala {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

@keyframes english-escuta {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes english-escrita {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes english-leitura {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* fim do english */
/* inicio do esapnhol */
.language-espanhol {
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    background-color: var(--brand-gray);
    box-shadow: 0 15px 20px #00000027;

}

#espanhol-title {
    font-style: italic;
}

.language-espanhol ul {
    list-style: none;
}

.language-espanhol ul li {
    margin: 20px 0;
}

.language-espanhol .bars {
    background-color: var(--brand-gray-dark);
    display: block;
    position: relative;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.bars>span {
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
}

.language-espanhol h3 {
    color: var(--brand-gray-light);
}

.espanhol-fala {
    width: 40%;
    animation: espanhol-fala 3s;
}

.espanhol-escuta {
    width: 80%;
    animation: espanhol-escuta 3s;
}

.espanhol-escrita {
    width: 60%;
    animation: espanhol-escrita 3s;
}

.espanhol-leitura {
    width: 80%;
    animation: espanhol-leitura 3s;
}

/* pseudo js */

@keyframes espanhol-fala {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

@keyframes espanhol-escuta {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes espanhol-escrita {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes espanhol-leitura {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

/* fim do espanhol */
/* inicio do frances */
.language-french {
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    background-color: var(--brand-gray);
    box-shadow: 0 15px 20px #00000027;

}

#french-title {
    font-style: italic;
}

.language-french ul {
    list-style: none;
}

.language-french ul li {
    margin: 20px 0;
}

.language-french .bars {
    background-color: var(--brand-gray-dark);
    display: block;
    position: relative;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.bars>span {
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
}

.language-french h3 {
    color: var(--brand-gray-light);
}

.french-fala {
    width: 15%;
    animation: french-fala 3s;
}

.french-escuta {
    width: 20%;
    animation: french-escuta 3s;
}

.french-escrita {
    width: 15%;
    animation: french-escrita 3s;
}

.french-leitura {
    width: 25%;
    animation: french-leitura 3s;
}

/* pseudo js */

@keyframes french-fala {
    0% {
        width: 0%;
    }

    100% {
        width: 15%;
    }
}

@keyframes french-escuta {
    0% {
        width: 0%;
    }

    100% {
        width: 20%;
    }
}

@keyframes french-escrita {
    0% {
        width: 0%;
    }

    100% {
        width: 15%;
    }
}

@keyframes french-leitura {
    0% {
        width: 0%;
    }

    100% {
        width: 25%;
    }
}

/* fim do frances */
/* inicio do italiano */
.language-italian {
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    background-color: var(--brand-gray);
    box-shadow: 0 15px 20px #00000027;

}

#italian-title {
    font-style: italic;
}

.language-italian ul {
    list-style: none;
}

.language-italian ul li {
    margin: 20px 0;
}

.language-italian .bars {
    background-color: var(--brand-gray-dark);
    display: block;
    position: relative;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.bars>span {
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
}

.language-italian h3 {
    color: var(--brand-gray-light);
}

.italian-fala {
    width: 10%;
    animation: espanhol-fala 3s;
}

.italian-escuta {
    width: 20%;
    animation: espanhol-escuta 3s;
}

.italian-escrita {
    width: 15%;
    animation: espanhol-escrita 3s;
}

.italian-leitura {
    width: 25%;
    animation: espanhol-leitura 3s;
}

/* pseudo js */

@keyframes italian-fala {
    0% {
        width: 0%;
    }

    100% {
        width: 10%;
    }
}

@keyframes italian-escuta {
    0% {
        width: 0%;
    }

    100% {
        width: 20%;
    }
}

@keyframes italian-escrita {
    0% {
        width: 0%;
    }

    100% {
        width: 15%;
    }
}

@keyframes italian-leitura {
    0% {
        width: 0%;
    }

    100% {
        width: 25%;
    }
}

/* fim do italiano */
/* inicio do portuges */
.language-portuguese {
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    background-color: var(--brand-gray);
    box-shadow: 0 15px 20px #00000027;

}

#portuguese-title {
    font-style: italic;
}

.language-portuguese ul {
    list-style: none;
}

.language-portuguese ul li {
    margin: 20px 0;
}

.language-portuguese .bars {
    background-color: var(--brand-gray-dark);
    display: block;
    position: relative;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.bars>span {
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
}

.language-portuguese h3 {
    color: var(--brand-gray-light);
}

.portuguese-fala {
    width: 100%;
    animation: espanhol-fala 3s;
}

.portuguese-escuta {
    width: 100%;
    animation: espanhol-escuta 3s;
}

.portuguese-escrita {
    width: 100%;
    animation: espanhol-escrita 3s;
}

.portuguese-leitura {
    width: 100%;
    animation: espanhol-leitura 3s;
}

/* pseudo js */

@keyframes portuguese-fala {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes portuguese-escuta {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes portuguese-escrita {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes portuguese-leitura {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* fim do portuges */


.projects {
    padding: 6rem 2rem;
}

.projects-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    background-color: var(--brand-gray);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;

}

.project-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.1);

}

.img-project {
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.project-info {
    pad: 1.5rem;
}

.project-name {
    margin-bottom: 5px;
    color: var(--brand-gray-light);
}

.project-paragraph {
    color: var(--brand-gray-light);
    line-height: 1.25rem;
}

body>footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background-color: var(--brand-gray);
}

footer:last-of-type {
    margin-top: 40px;
}

footer p {
    color: var(--brand-gray-light);
}

.social {
    display: flex;
    gap: 10px;
}

.social img {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    object-fit: contain;
    transition: 0.3s ease-in;
}

.social a:hover img {
    transform: scale(1.1);
}