/* Default configs start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --brand-dark: #1F2A33;
    --brand-gray-dark: #2B2B2B;
    --brand-gray: rgba(255, 255, 255, 0.08);
    --brand-gray-light: #E5E5E5;

    --brand-green: #69C276;
    --brand-green-light: #A6E3A1;

    --text-light: #E5E5E5;
    --text-dark: #1F2A33;

    --glass: rgba(255, 255, 255, 0.06);
    --glass-border: rgba(255, 255, 255, 0.2);
    
    --transition-speed: 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--brand-dark);
    color: var(--brand-gray-light);
}

/* text Pattern */
h1, h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
}

h1{
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--text-light);
}

h2{
    font-size: 2.5rem;
    color: var(--brand-green-light);
}

h3{
    font-size: 2rem;
    color: var(--brand-green-light);
}

p{
    color: var(--brand-gray-light);
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

/* Utilitarios */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.glass-box{
    background: var(--brand-gray);
    border: 1px solid var(--glass-border);
    border-radius: 16px;
    backdrop-filter: blur(16px);
}

.box {
    padding: 2rem;
    max-width: 600px;
    margin-top: 2rem;
    /*remover futuramente  */
    background: var(--brand-gray);
    border: 1px solid var(--glass-border);
    border-radius: 16px;
    backdrop-filter: blur(16px);
    /* repetido em glass box */
}


.card {
    /* elementos da box estão aqui dentro preciso remover depois para otimizar o codigo */
    background: var(--brand-gray);
    border: 1px solid var(--glass-border);
    border-radius: 16px;
    padding: 1.5rem;
    min-width: 200px;
    max-width: 300px;
    transition: transform var(--transition-speed) ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* Btn Pattern */
.btn {
    border: none;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    color: var(--text-dark);
    background: var(--brand-green);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn:hover {
    opacity: 0.85;
    transform: scale(1.1);
}

.btn-alt {
    background: var(--brand-green-light);
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--brand-green);
    color: var(--brand-green);
}

.btn-outline:hover {
    background: var(--brand-green);
    color: var(var(--text-dark));
}

/* display flex e orientações */
.flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.flex-wrap{flex-wrap: wrap;}
.flex-row {flex-direction: row;}    
.flex-col-rev {flex-direction: column-reverse;}    
.flex-between {justify-content: space-between;}    
.flex-evenly{justify-content: space-evenly;}
.flex-center {
    justify-content: center;
    align-items: center;
}    

/* Barras de Habilidate */

.skill-bar {
    background-color: var(--brand-gray-dark);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.bar-vertical{
    width: 20px;
    height: 100px;
}

/* O preenchimento colorido genérico */
.bar-fill-vert {
    position: absolute;
    bottom: 0;
    left: 0;
    width:20px;
    height: 0; 
    background: linear-gradient(to top, #fe4701, #ff0054);
    border-radius: 0 0 10px 10px;
    
    /* A mágica acontece aqui: animamos até a altura definida na variável --h */
    animation: fillBars 1.5s ease-in-out forwards;
}


@keyframes fillBars {
    from { height: 0; }
    to { height: var(--h); }
}

/* Default configs end*/

/* page start */
/* colocar como um bat sinal, alterar a cor para verde com o simbolo de $ em dourado */
/* mover uma para topo na direita, e a outra no bottom a esquerda */
/* a da parte inferior alterar para uma seta zig-zag crescente até o bat sinal */
.particulas {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    opacity: 0.5;
    background:
        radial-gradient(circle at 90% 80%, var(--brand-gray-light) 0%, transparent 20%),
        radial-gradient(circle at 10% 20%, var(--brand-green) 0%, transparent 20%),
        var(--brand-dark);
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    padding: 0.5rem 0;
    background-color: var(--brand-gray-dark);
    z-index: 100;
}

header .container {
    width: 100%;
}

.nav-bar {
    width: 100%;
    padding: 1rem 0;
    top: 0;
    z-index: 100;
}

/* adicionar js para usabiliadade e organizar a tela */
.menu {
    list-style: none;
    width: 100%;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    color: var(--brand-gray-light);
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--brand-green), var(--brand-green-light));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

/* corrijir importe de fontawesome*/
#btn-theme {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 32px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--brand-green);
    cursor: pointer;
    color: var(--text-dark);
    font-size: 1rem;
}

.intro {
    padding: 4rem 0 2rem 0;
    min-height: 100vh;
}

.perfil {
    text-align: center;
    text-decoration: solid;
}

.foto-perfil {
    width: 350px;
    height: 350px;
    border-radius: 20%;
    border: 4px solid var(--brand-green);
    filter: grayscale(0.2) contrast(1.1);
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

.intro-box {
    padding: 2rem;
    max-width: 600px;
    margin-top: 2rem;
    border-radius: 16px;
    background: var(--brand-gray);
    border: 1px solid var(--glass-border);
    backdrop-filter: blur(16px);
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.techs {
    justify-content: left;
}
