* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #266420;
    --secundaria: #00db0b;
    --escuro: #185730;
    --maisEscuro: #000000;
    --claro: #a8d3a8;
    --transparente: rgb(255, 255, 255, 0.1);
    --desfocado: rgba(10, 165, 226, 0.18);
}

body{
    background-color: var(--maisEscuro);
}

.nav-bar{
    top: 0;
    position: fixed;
    background-color: rgba(15, 23, 48,0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;

}

.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500%;
    position: relative;
    padding: 0.5rem;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s  ease;
}

.menu-link:hover::after{
    width: 100%;
}

.topo{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil{
    width: 350px;
    height: 350px;
    box-shadow: 10px 14px 20px 5px rgba(255, 255, 255, 0.65);
    -webkit-box-shadow: 10px 14px 20px 5px rgba(255, 255, 255, 0.65);
    -moz-box-shadow: 10px 14px 20px 5px rgba(255, 255, 255, 0.65);
    border-radius: 50%;
    border: 4px solid var(--transparente);
}

h1{
    font-size: 3.5rem;
    color: var(--claro);
    font-weight: bold;
    margin: 20px;

}

.topo-subtitulo{
    font-size: 2rem;
    color: var(--claro);
}